*.log
*.env

# ignore everything except the builtin modules.
modules/*
!modules/AppMenu/
!modules/Auth/
!modules/AutoRouter/
!modules/Core/
!modules/Logging/
!modules/Router/
!modules/Utils/
!modules/Example/
